*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#131218;
    color: white;
}
#main{
    width: 100%;
    max-width: 750px;
}
#main h1{
    font-size: 5vw;
    line-height: 5vw;
    font-weight:600;
}
#main h1 span{
    color: #A4FFAF;
}
#displayResult{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #24232B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 10px;
    
}
#displayResult input{
    border: 0;
    outline: 0;
    font-size: 2vw;
    color: #fff;
    background-color: #24232B;

}
#displayResult img{
    height: 2vw;
    cursor: pointer;
}
#button button{
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    font-size: 2vw;
    font-weight: 500;
    background-color: #A4FFAF;
    border-radius: 10px;
    cursor: pointer;
}
#button button img{
    height: 5vw;
}


@media screen and (max-width:768px) {
    #main h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    #displayResult input{
        font-size: 5vw;
    }
    #button button{
        font-size: 6vw;
    }
    #button button img{
        height: 12vw;
    }
    #displayResult img{
        height: 6vw;
    }
}
@media screen and (max-width:480px) {
    #main h1{
        font-size: 12vw;
        line-height: 13vw;
    }
    #displayResult input{
        font-size: 5vw;
    }
    #button button{
        font-size: 5vw;
        padding: 15px 20px;
    }
    #button button img{
        height: 12vw;
    }
    #displayResult img{
        height: 6vw;
    }
}
